{% extends '@DokifyAdminCompany/layout.html.twig' %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="row">
            <div class="col-xs-12">
                <a href="{{ path('admin_new_company') }}" type="button" class="btn btn-success pull-right"><i class="fa fa-plus fa-fw"></i>&nbsp;New Company</a>&nbsp;
                <a href="{{ path('admin_new_affiliations_companies') }}" type="button" class="btn btn-success pull-right"><i class="fa fa-plus fa-fw"></i>&nbsp;New Affiliation</a>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-xs-12">
                <table id="table" class="table table-striped table-bordered">
                    <thead>
                    <th>ID</th>
                    <th>Company</th>
                    <th>Actions</th>
                    </thead>
                    <tbody>
                    {% for company in companies %}
                        <tr>
                            <td>{{ company.id }}</td>
                            <td><b>{{ company.name }}</b></td>
                            <td><a type="button" class="btn btn-default btn-xs" href="{{ path('admin_client_companies', {'company': company.id}) }}"><i class="fa fa-user fa-fw"></i>&nbsp;Clients</a>&nbsp;<a type="button" class="btn btn-default btn-xs" href="{{ path('admin_supplier_companies', {'company': company.id}) }}"><i class="fa fa-briefcase fa-fw"></i>&nbsp;Suppliers</a>&nbsp;<a type="button" class="btn btn-default btn-xs" href="{{ path('admin_affiliation_companies', {'company': company.id}) }}"><i class="fa fa-refresh fa-fw"></i>&nbsp;Affiliations</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div><!-- /.container -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

    </script>
{% endblock %}